.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Fond transparent */
}

.modal-card {
    background-color: #fffff0;
    padding: 20px;
    border: 2px solid #d68b7f;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    max-width: 600px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

textarea {
    width: 100%;
    border: 1px solid #A94A49;
    border-radius: 5px;
    padding: 10px;
}

.ui-button {
    background-color: #A94A49;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}
